body{
  color: aliceblue;
  margin: 0;
}
#title{
    color: wheat;
    font-family: sans-serif;
    text-shadow:8px 8px 8px black;
}
#bg-image{
    width: 100%;
    height: fit-content;
}
.top-part{
    
}
#start{
    margin: -220px 100px 100px 50px;
}


#button{
    color:white;
    background-color: rgba(255,255,255, 0.3);
    border-radius: 7px;
    display: inline-block;
    padding: 7px;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 1px 1px 12px black;
    
    
}