body{
    margin: 0px;
}
.banner{
    display: flex;
    align-content: space-around;
}
#bg-image{
    width: 100vw;
    height: 60vh;
}
#nav-bar{
    list-style-type: none;
    margin: 0px;
    border: 1px solid red;
    background-color: rgba(255,255,255, 0.3);
}
li{
    display: inline-block;
    text-decoration: none;
    padding: 25px;
    font-family: sans-serif;
    font-weight: bold;
    
}
#logo{
    font-family: sans-serif;
    font-size: 30px;
    border: 1px solid red;
    text-align: center;
}