body{
    background-color: bisque;
}
#title{
    color: red;
    font-family:sans-serif;
}
.nav-bar{
    display:flex;
    justify-content: flex-end;
    
}
li{
    list-style-type: none;
    padding: 30px;
}
.text{
    font-size: 30;
    font-family:sans-serif;
    color:indigo;
    font-weight: 700; 
    background-color: cornflowerblue;
    width: fit-content;
    padding: 50px;
    border-radius: 15px;
    border: 3px solid white;
    box-shadow: black;
}

.para{
    text-align: center;
    font-size: 30;
    font-family:sans-serif;
    color:indigo;
    font-weight: 700;
}
#first{
    color:red;
}

#second{
    color: seagreen;
}
.first-text{
    font-size: 50px;
}