body{
    background-image: url(images/bg_img.jpg);
    background-repeat: no-repeat;
}
.top-part{
    vertical-align: bottom;
}
#title{
    color: wheat;
    font-family: sans-serif;
}

#button-text{
    color:white;
    background-color: rgba(255,255,255, 0.3);
    border-radius: 7px;
    display: inline-block;
    padding: 7px;
    font-weight: bold;
    font-family: sans-serif;
    
}