.cube {
    margin: 150;
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: identifier 5s linear infinite;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}
.box1 {
    transform: translateZ(100px);
}
  
.box2 {
    transform: rotateY(90deg) translateX(100px);
    transform-origin: right;
}
  
.box3 {
    transform: rotateY(180deg) translateZ(100px);
}
  
.box4 {
    transform: rotateY(-90deg) translateX(-100px);
    transform-origin: left;
}
  
.box5 {
    transform: rotateX(-90deg) translateY(-100px);
    transform-origin: top;
}
  
.box6 {
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom;
}
  /* .side-top{
    width:100px;
    height:100px;
    background:#c52329;
    border:solid 2px #FFF;
    transform: skew(180deg,210deg);
    position: absolute;
    top: 43px;
  }
  .side-right{
    width:100px;
    height:100px;
    background:green;
    border:solid 2px #FFF;
    transform: skew(180deg,150deg);
    position: absolute;
    left:102px;
    top: 43px;
  }
  .side-left{
    width:114px;
    height:100px;
    background:yellow;
    border:solid 2px #FFF;
    transform: rotate(150deg) translate(-40px, -16px) skew(30deg, 0deg);
    position: absolute;
    left: 0px;
    top: -32px;
  } */
  @keyframes identifier {
      from{
          top: 0px;
      }
      to{
          top: 400px;
      }
     
    100% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotateY(180deg) rotateZ(180deg);
    }
    40% {
        transform: rotateY(180deg) rotateZ(-180deg);
    }
    60% {
        transform: rotateY(270deg) rotateZ(180deg);
    }
    80% {
        transform: rotateY(360deg) rotateZ(-180deg);
    }
 
  }